.main-header {
  display: flex;
  padding-left: 220px;
}

/* from 1440 to 1600 px */
@media screen and (max-width: 1600px) {
  .main-header {
    padding-left: 80px;
  }
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .header-logo {
    left: 16px;
    position: absolute;
  }

  .header-logo img {
    width: 70%;
  }
}
