.catalog {
  padding: 0 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.catalog .card {
  padding-top: 50px;
  padding-bottom: 40px;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  cursor: pointer;
}

.catalog .empty-block {
  width: 32%;
  display: flex;
  margin-bottom: 2%;
}

.catalog .card:nth-child(even) {
  background-color: var(--primary-brown);
}

.catalog .card:nth-child(odd) {
  background-color: var(--primary-light-green);
}

.catalog .card:nth-child(odd):hover .whiskey-name,
.catalog .card:nth-child(odd):hover .whiskey-characteristics {
  color: var(--text-brown-dark);
}

.catalog .card:nth-child(even):hover .whiskey-name,
.catalog .card:nth-child(even):hover .whiskey-characteristics {
  color: var(--primary-light-green);
}

.catalog .card .whiskey-name {
  color: white;
  padding: 10px 40px;
  text-align: center;
}

.catalog .card .whiskey-characteristics {
  color: white;
}

.catalog .card .whiskey-image {
  width: 320px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.catalog .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog .foreground-image {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.catalog .foreground-image {
  z-index: 1;
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .catalog {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    margin-bottom: 30px;
  }

  .catalog .card {
    padding: 20px 0 30px 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .catalog .card .whiskey-image {
    margin-top: 15px;
    width: 210px;
    min-height: 260px;
  }

  .catalog .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .catalog .foreground-image {
    max-width: 200px;
    max-height: 200px;
  }
}
