.catalog {
  padding: 0 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.catalog .card {
  padding-top: 50px;
  padding-bottom: 40px;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  cursor: pointer;
}

.catalog .card:nth-child(even) {
  background-color: var(--primary-brown);
}

.catalog .card:nth-child(odd) {
  background-color: var(--primary-light-green);
}

.catalog .card:nth-child(even):last-child {
  padding: 0;
}

.catalog .card:nth-child(even):last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog .card:nth-child(odd):hover .whiskey-name,
.catalog .card:nth-child(odd):hover .whiskey-characteristics {
  color: var(--text-brown-dark);
}

.catalog .card:nth-child(even):hover .whiskey-name,
.catalog .card:nth-child(even):hover .whiskey-characteristics {
  color: var(--primary-light-green);
}

.catalog .card .whiskey-name {
  color: white;
  padding: 10px 40px;
  text-align: center;
}

.catalog .card .whiskey-characteristics {
  color: white;
}

.catalog .card .whiskey-image {
  width: 320px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foreground-image {
  position: absolute;
  width: 80%;
  height: 90%;
  object-fit: cover;
}

.foreground-image {
  z-index: 1;
}
