.pagination-block {
  display: flex;
  justify-content: center;
}

.pagination-block .empty-block {
  flex: 1;
}

.pagination-block .page {
  color: var(--text-brown-dark);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-block .arrow {
  flex: 1;
  display: flex;
}

.pagination-block .arrow:hover {
  cursor: pointer;
}

.pagination-block .page.active {
  color: var(--primary-light-green);
}

.pagination-block .page:hover {
  color: var(--primary-light-green);
  cursor: pointer;
}
