<link rel="stylesheet" href="./agePopup.css" />
<div class="age-popup-background" id="age-popup-background">
  <div class="age-popup">
    <div class="age-popup-content">
      <h1 class="h1 title">Whiskey Collection</h1>
      <h2 class="h2 disclaimer">Welcome! You must be +18 to enter</h2>
      <h3 class="h3 question">Are you 18 years old or older?</h3>
      <div class="answers">
        <button class="yes-btn body-semibold" data-no-select>Yes</button>
        <button class="no-btn body-semibold" data-no-select>No</button>
      </div>
      <img
        src="./logo-light-text.svg"
        title="Whiskey collection logo"
        alt="Glass of whiskey"
      />
    </div>
  </div>
</div>
