<a class="card" data-no-select href="${productCardLink}">
  <div class="whiskey-image">
    <img class="background-image" src="${backgroundImage}" />
    <img
      class="foreground-image"
      src="${imageLink}"
      title="${name}"
      alt="${description}"
    />
  </div>
  <div class="whiskey-name body-semibold-large">${name}</div>
  <div class="whiskey-characteristics body-regular-large">
    <span class="price">${price}</span>
    <div class="rating">
      <img class="star-icon" src="/src/assets/icons/star.svg" />
      <span>${rating} (${rateCount})</span>
    </div>
  </div>
</a>
