.block-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
}

.block-title .first-row {
  display: flex;
  padding-bottom: 5px;
}

.block-title .first-row .h2 {
  flex: 1;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid var(--primary-brown);
  padding-bottom: 5px;
  text-align: end;
}

.block-title .second-row {
  display: flex;
}

.block-title .second-row .h2 {
  color: var(--primary-light-green);
  flex: 1;
  border-bottom: 1px solid var(--primary-light-green);
  padding-bottom: 5px;
}

.block-title .empty-block {
  flex: 1;
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .block-title {
    padding-bottom: 25px;
  }
}
