.block-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
}

.line-before {
  display: flex;
  align-items: center;
}

.line-before::before {
  content: '';
  width: 35%;
  border-top: 1px solid var(--primary-brown);
  margin-right: 64px;
}

.block-title .second-row {
  color: var(--primary-light-green);
  justify-content: end;
}

.line-after {
  display: flex;
  align-items: center;
}

.line-after::after {
  content: '';
  width: 35%;
  border-top: 1px solid var(--primary-light-green);
  margin-left: 64px;
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .block-title {
    padding-bottom: 25px;
  }

  .line-before::before {
    width: 25%;
    margin-right: 20px;
  }

  .line-after::after {
    width: 25%;
    margin-left: 20px;
  }
}
