.product-card {
  display: flex;
  margin: 0 80px 80px 120px;
  padding: 50px 70px 40px 100px;
  color: white;
  background-color: var(--primary-brown);
}

.product-card-header {
  text-align: center;
  margin-bottom: 20px;
}

.product-card .left-side {
  margin-right: 65px;
}

.product-card .left-side .whiskey-image {
  width: 440px;
  min-height: 585px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-card .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .foreground-image {
  position: absolute;
  max-width: 450px;
  max-height: 500px;
  object-fit: cover;
}

.product-card .foreground-image {
  z-index: 1;
}

.product-card .characteristic-list .characteristic {
  margin-bottom: 15px;
}

.product-card .line {
  border: 1px solid var(--text-brown-medium);
  margin-top: 20px;
  margin-bottom: 20px;
}
