<a
  class="card"
  data-whiskey-category="${category}"
  data-no-select
  href="${catalogByCategoriesLink}"
>
  <h3 class="category-name h3">${category}</h3>
  <div class="category-link-container">
    <div class="category-link body-semibold">Discover more</div>
  </div>
  <div class="category-image">
    <img class="background-image" src="${categoryBackground}" />
    <img
      class="foreground-image"
      src="${whiskeyImageLink}"
      title="${category}"
      alt="${category}"
    />
  </div>
  <p class="category-description body-semibold">${description}</p>
</a>
