.whiskey-collection-club-content {
  background-color: #ad814e;
  padding: 120px 150px 120px 200px;
  color: white;
  display: flex;
}

.whiskey-collection-club-offer {
  flex: 4;
  padding: 44px 64px;
  margin-right: 15px;
  border-left: 1px solid var(--primary-brown);
  border-bottom: 1px solid var(--primary-brown);
}

.title {
  padding-bottom: 30px;
}

.welcome-text {
  padding-bottom: 50px;
}

.offer {
  padding-bottom: 30px;
}

.offer-list {
  padding-bottom: 50px;
  list-style-type: none;
}

.offer-list li {
  background-image: url('/assets/icons/check-white.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-bottom: 20px;
}

.call-to-action-text {
  padding-bottom: 30px;
}

.call-to-action-block {
  display: flex;
}

.call-to-action-block .email {
  outline: none;
  padding: 18px 24px;
  border-radius: 4px;
  border: none;
  height: 24px;
}

.call-to-action-block .email.invalid {
  border-radius: 0;
  border: 1px solid #c80000;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.join-club-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  padding: 10px 8px;
  height: 60px;
  width: 185px;
  border-radius: 4px;
  background-color: #deb62a;
}

.join-club-btn:hover {
  background-color: #c29f25;
  cursor: pointer;
}

.whiskey-collection-club-content img {
  flex: 1;
  width: 240px;
  min-height: 700px;
}

.email-container {
  display: flex;
  flex-direction: column;
  width: 385px;
  margin-right: 12px;
}

.error {
  color: white;
  background-color: #c80000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px 10px;
  display: none;
}

@media screen and (max-width: 1440px) {
  .whiskey-collection-club-content {
    padding: 70px 80px 70px 80px;
  }

  .whiskey-collection-club-offer {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .whiskey-collection-club-content img {
    width: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .whiskey-collection-club-content {
    padding: 65px 110px 65px 50px;
  }

  .whiskey-collection-club-content img {
    display: none;
  }

  .offer {
    padding-bottom: 20px;
  }

  .welcome-text {
    padding-bottom: 30px;
  }

  .offer-list {
    padding-bottom: 35px;
  }

  .email-container {
    width: 340px;
  }

  .call-to-action-block .email {
    height: 20px;
  }

  .join-club-btn {
    width: 170px;
    height: 55px;
  }
}

@media screen and (max-width: 768px) {
  .whiskey-collection-club-content {
    padding: 0;
  }

  .whiskey-collection-club-offer {
    padding: 60px;
    border: none;
  }

  .title {
    padding-bottom: 20px;
  }

  .welcome-text {
    padding-bottom: 15px;
  }

  .offer {
    padding-bottom: 20px;
  }

  .offer-list {
    padding-bottom: 20px;
  }

  .call-to-action-text {
    padding-bottom: 20px;
  }

  .email-container {
    width: 315px;
  }

  .join-club-btn {
    width: 150px;
  }
}

@media screen and (max-width: 650px) {
  .whiskey-collection-club-content {
    padding: 0;
  }

  .whiskey-collection-club-offer {
    padding: 40px 16px;
    border: none;
  }

  .title {
    padding-bottom: 15px;
  }

  .welcome-text {
    padding-bottom: 20px;
  }

  .offer {
    padding-bottom: 15px;
  }

  .offer-list {
    padding-bottom: 15px;
  }

  .call-to-action-text {
    padding-bottom: 20px;
  }

  .call-to-action-block {
    flex-direction: column;
  }

  .email-container {
    width: auto;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .call-to-action-text {
    text-align: center;
  }

  .join-club-btn {
    width: auto;
  }
}
