@font-face {
  font-family: Georama;
  src: url(/src/assets/fonts/georama.ttf);
}

:root {
  --primary-brown: #3d3232;
  --primary-light-green: #7d9f8c;
  --text-brown-dark: #4e4442;
  --text-brown-medium: #907d7a;
  --text-brown-light: #d5c7c5;
  --btn-green-dark: #53714b;
  --btn-green-medium: #7d9f8c;
  --btn-green-light: #a4aaa2;
  --btn-green-disabled: #d4dfd2;
  --btn-orange-nonactive: #cc5907;
  --btn-orange-active: #b24c02;
}

body {
  margin: 0;
  font-family: Georama;
  height: 100%;
  width: 100%;
  color: var(--text-brown-dark);
}

[data-no-select] {
  user-select: none;
}
