<div class="post-content">
  <h1 class="title">${title}</h1>
  <div class="tags">${tags}</div>
  <div class="main-img-wrapper">
    <img class="main-img" src="${mainImgLink}" alt="Main" />
  </div>
  <div class="article">
    <div class="meta">
      <p class="publication-date body-medium">${publicationDate}</p>
      <p class="splitter body-medium">•</p>
      <p class="reading-time body-regular">
        Reading ${readingTimeInMinutes} minutes
      </p>
    </div>
    <div class="article-content">${articleContent}</div>
  </div>
</div>
