<div class="adviser-content" data-no-select>
  <form class="slider-container" id="sliderContainer">
    <div class="slider-block" id="slider-1">
      <p class="slider-text">What strength of the drink do you prefer?</p>
      ${abvs}

      <button class="continue-btn body-medium">Continue</button>
    </div>

    <div class="slider-block hidden" id="slider-2">
      <p class="slider-text">What price range of the drink do you prefer?</p>
      ${priceRanges}

      <button class="continue-btn body-medium">Continue</button>
      <button class="back-btn body-medium">Back</button>
    </div>

    <div class="slider-block hidden" id="slider-3">
      <p class="slider-text">From which country would you like the drink?</p>
      ${countries}

      <button class="continue-btn body-medium">Continue</button>
      <button class="back-btn body-medium">Back</button>
    </div>

    <div class="slider-block hidden" id="slider-4">
      <p class="slider-text">What tasting notes do you prefer in the drink?</p>
      ${tastingNotes}

      <button class="continue-btn body-medium">Continue</button>
      <button class="back-btn body-medium">Back</button>
    </div>

    <div class="slider-block hidden" id="slider-5">
      <p class="slider-text">What is your level of expertise with whiskey?</p>
      ${experienceLevels}

      <button id="adviserBtn" class="continue-btn body-medium"></button>
      <button class="back-btn body-medium">Back</button>
    </div>

    <div class="slider-block hidden" id="slider-6">
      <p class="slider-text">We collected whiskey for you</p>
      <div class="catalog" id="recommendationResult"></div>

      <button id="tryAgainBtn" class="try-again-btn body-medium">
        Try again
      </button>
    </div>
  </form>
</div>
