.whiskey-collection-club-succeed {
  background-color: #ad814e;
  padding: 120px 150px 120px 200px;
  color: white;
  display: flex;
}

.whiskey-collection-club-thanks {
  flex: 4;
  padding: 44px 64px;
  margin-right: 15px;
  border-left: 1px solid var(--primary-brown);
  border-bottom: 1px solid var(--primary-brown);
}

.thanks {
  padding-bottom: 30px;
}

.thanks-text {
  padding-bottom: 30px;
}

.next {
  padding-bottom: 30px;
}

.next-text {
  padding-bottom: 40px;
}

.back-home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  padding: 10px 8px;
  height: 60px;
  width: 185px;
  border-radius: 4px;
  background-color: var(--primary-light-green);
}

.back-home-btn::before {
  content: '';
  background-image: url('/assets/icons/arrow.svg');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.back-home-btn:hover {
  background-color: var(--btn-green-dark);
  cursor: pointer;
}

.whiskey-collection-club-succeed img {
  flex: 1;
  width: 240px;
  min-height: 700px;
}

@media screen and (max-width: 1440px) {
  .whiskey-collection-club-succeed {
    padding: 70px 80px 70px 130px;
  }

  .whiskey-collection-club-thanks {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .whiskey-collection-club-succeed img {
    width: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .whiskey-collection-club-succeed {
    padding: 65px 110px 65px 50px;
  }

  .whiskey-collection-club-succeed img {
    display: none;
  }

  .back-home-btn {
    width: 170px;
    height: 55px;
  }
}

@media screen and (max-width: 768px) {
  .whiskey-collection-club-succeed {
    padding: 0;
  }

  .whiskey-collection-club-thanks {
    padding: 60px;
    border: none;
  }
}

@media screen and (max-width: 650px) {
  .whiskey-collection-club-succeed {
    padding: 0;
  }

  .whiskey-collection-club-thanks {
    padding: 40px 16px;
    border: none;
  }

  .thanks {
    padding-bottom: 5px;
  }

  .thanks-text {
    padding-bottom: 20px;
  }

  .next {
    padding-bottom: 15px;
  }

  .back-home-btn {
    width: 100%;
  }
}
