.category-description {
  display: flex;
  height: 320px;
  background-color: var(--primary-brown);
  margin-bottom: 60px;
  color: white;
}

.category-description .category-image {
  height: 320px;
  padding-left: 250px;
  padding-right: 95px;
}

.category-description .description {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 50%;
}

.category-description .description .title {
  padding-bottom: 20px;
}

/* from 1440 to 1600 px */
@media screen and (max-width: 1600px) {
  .category-description .category-image {
    height: 320px;
    padding-left: 115px;
    padding-right: 80px;
  }
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .category-description {
    height: 120px;
    margin-bottom: 30px;
  }

  .category-description .category-image {
    height: 80px;
    padding: 20px 20px 20px 16px;
  }

  .category-description .description {
    padding-top: 0;
    justify-content: center;
  }

  .category-description .description .title {
    padding-bottom: 0;
  }

  .category-description .description .text {
    display: none;
  }
}
