<div class="search-block">
  <div class="search-parameters">
    <div class="filters">
      <div class="filter-block">
        <label class="body-semibold-extra"> What country? </label>
        <div class="dropdown-container" data-no-select>
          <div class="selected-item country ${disableCountry}">
            <span id="selected-country" class="body-medium">${country}</span>
            <div class="dropdown-controls">
              <div class="clean"></div>
              <div class="open"></div>
            </div>
          </div>
          <ul class="dropdown-options country">
            ${countryListItems}
          </ul>
        </div>
      </div>
      <div class="filter-block">
        <label class="body-semibold-extra"> What brand? </label>
        <div class="dropdown-container" data-no-select>
          <div class="selected-item brand ${disableBrand}">
            <span id="selected-brand" class="body-medium">${brand}</span>
            <div class="dropdown-controls">
              <div class="clean"></div>
              <div class="open"></div>
            </div>
          </div>
          <ul class="dropdown-options brand">
            ${brandListItems}
          </ul>
        </div>
      </div>
      <div class="filter-block">
        <label class="body-semibold-extra"> What budget? </label>
        <div class="dropdown-container" data-no-select>
          <div class="selected-item budget ${disableBudget}">
            <span id="selected-budget" class="body-medium">${priceRange}</span>
            <div class="dropdown-controls">
              <div class="clean"></div>
              <div class="open"></div>
            </div>
          </div>
          <ul class="dropdown-options budget">
            ${budgetListItems}
          </ul>
        </div>
      </div>
    </div>
    <div class="search-line">
      <img class="search-icon" src="../../assets/icons/search-white.svg" />
      <input
        id="search"
        type="text"
        placeholder="Search whiskey"
        class="body-medium"
        value="${searchText}"
        ${disableSearch}
      />
      <div class="search-clean"></div>
    </div>

    <button class="find-again-btn body-semibold" data-no-select>
      Find again
    </button>
  </div>
</div>
