.catalog-header {
  display: flex;
  justify-content: space-between;
  padding: 0 105px 75px 105px;
}

.catalog-header .result-label {
  padding-top: 10px;
}

.catalog-header .order-by {
  width: 20%;
}

@media screen and (max-width: 1600px) {
  .catalog-header {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .catalog-header {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
  }

  .catalog-header .order-by {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .catalog-header {
    padding: 0 18px 30px 18px;
    justify-content: end;
  }

  .catalog-header .result-label {
    display: none;
  }

  .catalog-header .order-by {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .catalog-header .order-by {
    width: 60%;
  }
}
