.catalog-header {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.catalog-header .result-label {
  padding-top: 10px;
}

.order-by {
  width: 20%;
}
