<div class="recommender-content" data-no-select>
  <h1 class="h1 title">Whiskey Recommender</h1>
  <form>
    <p>Select your preffered alcohol by volume (ABV)</p>
    ${abvs}
    <br />

    <p>Select your preffered price range</p>
    ${priceRanges}
    <br />

    <p>Select your preffered country</p>
    ${countries}
    <br />

    <p>Select your preffered tasting notes</p>
    ${tastingNotes}
    <br />

    <p>Select your whiskey experience level</p>
    ${experienceLevels}
    <br />

    <button id="recommenderBtn">Get result</button>
    <br />
    <br />
    ${signOut}
  </form>

  <br />

  <ul id="recommendationResult"></ul>
  <br />
</div>
