.question-container {
  display: flex;
  width: 100%;
}

.question-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  display: none;
}

.question-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.08px;
  text-align: center;

  margin-bottom: 50px;
}

.answer {
  background: #f1f2f2;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 14px;
  width: 20%;
  display: flex;
  cursor: pointer;

  font-size: 18px;
  line-height: 140%;
}

.answer > label {
  cursor: pointer;
}

.answer input[type='radio'] {
  display: none;
}

.question-block label:last-of-type {
  margin-bottom: 30px;
}

.answer:has(input[type='radio']:checked) {
  background-color: #c4ddd1;
}

.question-block .continue-btn {
  background-color: #117243;
  color: white;

  font-size: 18px;
  line-height: 140%;
  width: 23%;

  padding: 18px 0;
  border-radius: 6px;
}

.question-block .back-btn {
  background-color: white;
  color: var(--primary-brown);
  border-radius: 6px;
  border: 1px #117243 solid;
  margin-top: 20px;

  font-size: 18px;
  line-height: 140%;
  width: 23%;

  padding: 18px 0;
  border-radius: 6px;
}

.slide-left-continue-animation {
  animation: slideLeftContinue 0.5s ease-in-out;
}

.slide-right-continue-animation {
  animation: slideRightContinue 0.5s ease-in-out;
}

@keyframes slideLeftContinue {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRightContinue {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-left-back-animation {
  animation: slideLeftBack 0.5s ease-in-out;
}

.slide-right-back-animation {
  animation: slideRightBack 0.5s ease-in-out;
}

@keyframes slideLeftBack {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideRightBack {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
