<div class="recommender-content" data-no-select>
  <form class="question-container" id="questionContainer">
    <div class="question-block" id="question-1">
      <p class="question-text">What strength of drink do you prefer?</p>
      ${abvs}

      <button class="body-medium">Continue</button>
    </div>

    <div class="question-block hidden" id="question-2">
      <p class="question-text">What price of drink do you prefer?</p>
      ${priceRanges}

      <button class="body-medium">Continue</button>
    </div>
  </form>
  <!--
  <form>

    <p>Select your preffered country</p>
    ${countries}
    <br />

    <p>Select your preffered tasting notes</p>
    ${tastingNotes}
    <br />

    <p>Select your whiskey experience level</p>
    ${experienceLevels}
    <br />

    <button id="recommenderBtn">Get result</button>
    <br />
  </form>

  <br />

  <ul id="recommendationResult"></ul>
  <br /> -->
</div>
