<div class="main-header" data-no-select>
  <a href="/" class="header-logo">
    <img
      src="./logo-dark-text.svg"
      title="Whiskey collection logo"
      alt="Glass of whiskey"
    />
  </a>
  <div class="menu">
    <a href="/blog-post-list" class="blog-post-list-item body-semibold"
      ><span class="menu-item">Blog</span></a
    >
  </div>
  <div class="special-offer">
    <button class="join-our-club-btn body-semibold" data-no-select>
      Join our club
    </button>
  </div>
</div>
