.main-header {
  display: flex;
  padding-left: 220px;
  box-shadow: 0 2px 8px #0000001a;
}

.header-logo {
  flex: 1;
  margin-right: 40px;
}

.menu {
  display: flex;
  flex: 4;
}

.menu-item {
  padding-bottom: 5px;
}

.blog-post-list-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-decoration: none;
  color: var(--primary-brown);
}

.blog-post-list-item:hover {
  color: var(--text-brown-medium);
}

.blog-post-list-item:hover .menu-item {
  border-bottom: 2px solid var(--text-brown-medium);
  padding-bottom: 3px;
}

@media screen and (max-width: 1600px) {
  .main-header {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .main-header {
    padding-left: 25px;
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
  }

  .header-logo img {
    width: 130px;
  }
}

@media screen and (max-width: 450px) {
  .main-header {
    padding-left: 0;
  }

  .header-logo img {
    width: 100px;
  }
}
