.main-header {
  display: flex;
  padding-left: 220px;
  box-shadow: 0 2px 8px #0000001a;
}

.header-logo {
  flex: 1;
  margin-right: 80px;
}

.menu {
  display: flex;
  flex: 4;
}

.menu-item {
  padding-bottom: 5px;
}

.blog-post-list-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-decoration: none;
  color: var(--primary-brown);
}

.blog-post-list-item:hover {
  color: var(--text-brown-medium);
}

.blog-post-list-item:hover .menu-item {
  border-bottom: 2px solid var(--text-brown-medium);
  padding-bottom: 3px;
}

.special-offer {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 80px;
}

.join-our-club-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  padding: 10px 8px;
  width: 185px;
  height: 60px;
  border-radius: 4px;
  background-color: #deb62a;
}

.join-our-club-btn:hover {
  background-color: #c29f25;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .main-header {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .main-header {
    padding-left: 25px;
  }

  .special-offer {
    margin-right: 55px;
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
  }

  .header-logo img {
    width: 130px;
  }

  .special-offer {
    margin-right: 30px;
  }

  .join-our-club-btn {
    width: 170px;
    height: 55px;
  }
}

@media screen and (max-width: 550px) {
  .menu {
    justify-content: center;
  }

  .header-logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .main-header {
    padding-left: 0;
  }

  .header-logo img {
    width: 100px;
  }

  .special-offer {
    margin-right: 20px;
  }

  .join-our-club-btn {
    width: 120px;
  }
}
