<div class="main-header" data-no-select>
  <a href="/" class="header-logo">
    <img
      src="./logo-dark-text.svg"
      title="Whiskey collection logo"
      alt="Glass of whiskey"
    />
  </a>
  <div class="menu">
    <a href="/subscription" class="menu-item body-semibold"
      ><span class="menu-item-content">Subscription</span></a
    >
    <a href="/adviser" class="menu-item body-semibold"
      ><span class="menu-item-content">Adviser</span></a
    >
    <a href="/blog-post-list" class="menu-item body-semibold"
      ><span class="menu-item-content">Blog</span></a
    >
    <div class="sign-in-wrapper">
      <button class="sign-in body-semibold">
        <img
          src="../../assets/icons/google.svg"
          title="Google icon"
          alt="Google icon"
          class="google-icon"
        /><span class="text">Sign In</span>
      </button>
    </div>

    <div class="sign-out-wrapper">
      <button class="sign-out body-semibold">
        <img
          src="../../assets/icons/singOutDefault.svg"
          title="Google icon"
          alt="Google icon"
          class="google-icon"
        /><span class="text">Sign Out</span>
      </button>
    </div>
  </div>
</div>
