.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brown);
  padding: 40px 0 40px 220px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  margin-right: 115px;
}

.footer-menu-item {
  width: 30%;
  padding: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--primary-light-green);
  cursor: pointer;
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .main-footer {
    flex-direction: column;
    padding: 0;
    padding-bottom: 24px;
  }

  .footer-menu {
    justify-content: center;
  }

  .footer-menu-item {
    width: 40%;
  }

  .footer-logo img {
    width: 70%;
  }
}
