.main-footer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-brown);
  padding: 40px 0 20px 220px;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-menu-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  margin-right: 115px;
}

.footer-menu-item {
  width: 30%;
  padding: 10px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--primary-light-green);
  cursor: pointer;
}

.footer-copyright {
  color: white;
  display: flex;
  margin-top: 30px;
  margin-left: 5%;
}

@media screen and (max-width: 1600px) {
  .main-footer {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .main-footer {
    padding: 30px 0 30px 25px;
  }
}

@media screen and (max-width: 768px) {
  .main-footer {
    padding: 0;
    padding-bottom: 24px;
  }

  .footer-menu {
    justify-content: center;
  }

  .footer-menu-item {
    width: 40%;
  }

  .footer-logo {
    margin-right: 50px;
  }
}

@media screen and (max-width: 500px) {
  .footer-logo {
    margin-right: 10px;
  }

  .footer-logo img {
    width: 110px;
  }
}
