.search-block {
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 120px;
}

.search-parameters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 110px;
}

.filters {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 70px;
}

.filter-block {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.filter-block label {
  padding-bottom: 20px;
  text-align: center;
  color: var(--primary-brown);
}

.filter-block .dropdown-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.filter-block .dropdown-container .selected-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 0 10px;
  justify-content: space-between;
}

.filter-block .dropdown-container .selected-item.disabled {
  color: var(--btn-green-disabled);
}

.filter-block .dropdown-container .selected-item .dropdown-controls {
  display: flex;
}

.filter-block .dropdown-container .selected-item .clean {
  background-image: url('/icons/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 12px;
  margin: 10px 5px;
}

.filter-block .dropdown-container .selected-item .open {
  background-image: url('/icons/chevron.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 12px;
  margin: 10px 5px;
}

.filter-block .dropdown-container .dropdown-options {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  background-color: var(--primary-light-green);
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.filter-block .dropdown-container .dropdown-options.show {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  z-index: 5;
}

.filter-block .dropdown-container .dropdown-options.show::-webkit-scrollbar {
  width: 6px;
}

.filter-block
  .dropdown-container
  .dropdown-options.show::-webkit-scrollbar-thumb {
  background-color: var(--text-brown-medium);
}

.filter-block
  .dropdown-container
  .dropdown-options.show::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-brown-dark);
}

.filter-block
  .dropdown-container
  .dropdown-options.show::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-brown);
}

.filter-block
  .dropdown-container
  .dropdown-options.show::-webkit-scrollbar-track {
  background-color: #fff;
}

.filter-block .dropdown-container .dropdown-options > li {
  padding: 10px;
  cursor: pointer;
}

.filter-block .dropdown-container .dropdown-options > li:hover {
  background-color: var(--btn-green-disabled);
  color: var(--primary-brown);
}

.filter-block .dropdown-container .dropdown-options > li.selected {
  font-weight: bold;
}

.search-line {
  margin-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
}

.search-line input[type='text'] {
  border: none;
  outline: none;
  padding: 15px;
  width: 95%;
  margin-left: 30px;
}

.search-line input[type='text']:hover {
  cursor: pointer;
}

.search-line input[type='text']:disabled {
  background-color: #fff;
}

.search-line input[type='text']:disabled::-webkit-input-placeholder {
  color: var(--btn-green-disabled);
}

.search-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.search-line .search-clean {
  background-image: url('/icons/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 12px;
  cursor: pointer;
  margin: 14px 10px;
}

.find-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  padding: 10px;
  height: 60px;
  width: 230px;
  border-radius: 4px;
  background-color: var(--primary-light-green);
}

.find-btn:hover {
  background-color: var(--btn-green-dark);
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .search-block {
    padding-bottom: 80px;
  }

  .find-btn {
    height: 50px;
    width: 180px;
  }
}

@media screen and (max-width: 1440px) {
  .search-block {
    padding: 40px 75px 40px 75px;
  }

  .search-parameters {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .search-block {
    padding: 40px 45px 40px 45px;
  }
}

@media screen and (max-width: 768px) {
  .search-block {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
  }

  .filters {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .filter-block {
    width: 100%;
    padding-bottom: 40px;
  }

  .filter-block label {
    padding-bottom: 10px;
  }

  .find-btn {
    height: 50px;
    width: 290px;
  }
}
