<div class="jumbotron">
  <div class="column offer">
    <h3 class="usp-text h3">
      We have collected the most popular whiskey here. You can use it free and
      begin with
    </h3>
  </div>
  <div class="column middle">
    <div class="usp-product">
      <h2 class="first-row h2">${category}</h2>
      <h1 class="second-row h1">${country}</h1>
      <h1 class="third-row h1">WHISKEY</h1>
      <div class="fourth-row">
        <a
          class="catalog-btn body-semibold"
          data-no-select
          href="${catalogByCategoriesLink}"
          >Discover more</a
        >
      </div>
    </div>
  </div>
  <div class="column slider">
    <div class="slider__wrapper" id="sliderWrapper">${sliderImages}</div>
  </div>
</div>
