<div class="jumbotron">
  <div class="column offer">
    <h3 class="usp-text h3">
      We review the most popular whiskies in the world and you can compare them.
      So you can make an informed decision about what whiskies to try next
    </h3>
  </div>
  <div class="column middle">
    <div class="usp-product">
      <h2 class="first-row h2">The most popular</h2>
      <h1 class="second-row h1">WORLDWIDE</h1>
      <h1 class="third-row h1">WHISKEY</h1>
      <div class="fourth-row">
        <a
          class="catalog-btn body-semibold"
          data-no-select
          href="${mostPopularWhiskeyLink}"
          >Find your favorite whiskey</a
        >
      </div>
    </div>
  </div>
  <div class="column slider">
    <div class="slider__wrapper" id="sliderWrapper">${sliderImages}</div>
  </div>
</div>
