.catalog-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
}

.catalog-footer .pagination {
  width: 20%;
}

@media screen and (max-width: 1600px) {
  .catalog-footer {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .catalog-footer {
    padding-bottom: 20px;
  }
  .catalog-footer .pagination {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .catalog-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .catalog-footer .pagination {
    width: 70%;
  }
}
