.catalog-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
}

.catalog-footer .pagination {
  width: 20%;
}

/* from 1440 to 1600 px */
@media screen and (max-width: 1600px) {
  .catalog-footer {
    padding-bottom: 80px;
  }
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .catalog-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .catalog-footer .pagination {
    width: 70%;
  }
}
