.blog-post-list-content {
  padding: 0 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-list-item {
  width: 300px;
  margin-bottom: 2%;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: var(--text-brown-dark);
}

.empty-block {
  width: 300px;
  display: flex;
  margin-bottom: 2%;
}

.post-list-item img {
  border-radius: 4px;
}

.tag {
  margin: 12px 0;
  display: inline-block;
  border: 1px solid var(--text-brown-dark);
  border-radius: 4px;
  padding: 3px;
}

.read-article-link-container {
  display: flex;
}

.read-article-link {
  display: flex;
  align-items: center;
  position: relative;
}

.read-article-link::after {
  content: '';
  background-image: url('../../../assets/icons/arrow-brown.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

.read-article-link::before {
  content: '';
  display: block;
  height: 1px;
  background-color: var(--text-brown-dark);
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.post-list-item:hover .read-article-link::before {
  width: 100%;
}

.post-list-item:hover .title {
  color: var(--text-brown-medium);
}

.post-list-item .title {
  margin-bottom: 5px;
}

.post-list-item .description {
  margin-bottom: 10px;
}
