.breadcrumbs {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 250px;
  padding-bottom: 50px;
}

.breadcrumbs .item {
  padding-right: 3px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--text-brown-dark);
}

.breadcrumbs .chevron {
  padding-right: 5px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1600px) {
  .breadcrumbs {
    padding-left: 120px;
  }
}

@media screen and (max-width: 1024px) {
  .breadcrumbs {
    padding-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    padding-top: 28px;
    padding-left: 16px;
    padding-bottom: 28px;
  }
}
