.breadcrumbs {
  display: flex;
  padding-top: 30px;
  padding-left: 120px;
  padding-bottom: 50px;
}

.breadcrumbs .item {
  padding-top: 5px;
  padding-right: 5px;
}

.breadcrumbs .chevron {
  padding-right: 5px;
}

.breadcrumbs .item:hover {
  cursor: pointer;
}
