.age-popup-background {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 1;
  top: 0;
  left: 0;
}

.age-popup {
  background-color: var(--primary-brown);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  padding: 5% 0;
}
