.world-whiskey {
  padding-top: 125px;
  padding-bottom: 40px;
  padding-left: 250px;
  padding-right: 250px;
}

@media screen and (max-width: 1600px) {
  .world-whiskey {
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .world-whiskey {
    padding-top: 60px;
    padding-bottom: 0;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 768px) {
  .world-whiskey {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 480px) {
  .world-whiskey {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
