@font-face {
  font-family: Georama;
  src: url(../fonts/georama.ttf);
}

:root {
  --primary-brown: #3d3232;
  --primary-light-green: #7d9f8c;
  --text-brown-dark: #4e4442;
  --text-brown-light: #907d7a;
  --btn-hover-green: #53714b;
}

body {
  margin: 0;
  font-family: Georama;
  height: 100%;
  width: 100%;
  color: #4e4442;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
}

.logo {
  left: 80px;
  position: absolute;
}

.logo:hover {
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  text-align: left;
  border-bottom: 2px solid var(--primary-light-green);
  padding-bottom: 2px;
  padding-top: 2px;
}

.menu-item:hover {
  border-bottom: 2px solid var(--primary-brown);
  cursor: pointer;
}

.thumbnail {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--primary-brown);
}

.column {
  width: 33.3%;
}

.column.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usp-text {
  text-align: left;
  color: white;
  padding-left: 105px;
  padding-top: 100px;
}

.usp-product {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.usp-product .first-row {
  text-align: right;
  color: white;
  padding-bottom: 5px;
}

.usp-product .second-row {
  text-align: left;
  color: white;
}

.usp-product .third-row {
  text-align: right;
  color: var(--primary-light-green);
  padding-bottom: 15px;
}

.fourth-row {
  display: flex;
  justify-content: end;
}

.catalog-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: none;
  padding: 10px;
  height: 50px;
  width: 150px;
  border-radius: 4px;
  background-color: var(--primary-light-green);
  text-align: left;
}

.catalog-btn::after {
  content: '';
  background-image: url('../icons/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.catalog-btn:hover {
  background-color: var(--btn-hover-green);
  cursor: pointer;
}

.world-whiskey {
  padding-top: 125px;
  padding-bottom: 65px;
  padding-left: 165px;
  padding-right: 165px;
}

.world-whiskey .header {
  display: flex;
  flex-direction: column;
  padding-bottom: 85px;
}

.line-before {
  display: flex;
  align-items: center;
}

.line-before::before {
  content: '';
  width: 400px;
  border-top: 1px solid var(--primary-brown);
  margin-right: 64px;
}

.world-whiskey .header .second-row {
  color: var(--primary-light-green);
  justify-content: end;
}

.line-after {
  display: flex;
  align-items: center;
}

.line-after::after {
  content: '';
  width: 400px;
  border-top: 1px solid var(--primary-light-green);
  margin-left: 64px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog .card {
  padding: 55px 0;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.catalog .card:nth-child(even) {
  background-color: var(--primary-brown);
}

.catalog .card:nth-child(odd) {
  background-color: var(--primary-light-green);
}

.catalog .card:last-child {
  padding: 0;
}

.catalog .card:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog .card .category-name {
  color: white;
  padding-bottom: 30px;
}

.catalog .card .category-link-container {
  display: flex;
  align-items: center;
  position: relative;
}

.catalog .card .category-link-container .category-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 20px;
  text-decoration: none;
}

.catalog .card .category-link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  background-image: url('../icons/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);

  display: block;
}

.catalog .card .category-link::before {
  content: '';
  display: block;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.catalog .card .category-link:hover::before {
  width: 100%;
}

.catalog .card .category-image {
  margin-top: 30px;
  width: 300px;
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foreground-image {
  position: absolute;
  width: 80%;
  height: 90%;
  object-fit: cover;
}

.foreground-image {
  z-index: 1;
}

.catalog .card .category-description {
  color: white;
  text-align: center;
  padding: 0 60px;
}
