@font-face {
  font-family: Georama;
  src: url(../fonts/georama.ttf);
}

:root {
  --primary-brown: #3d3232;
  --primary-light-green: #7d9f8c;
  --text-brown-dark: #4e4442;
  --text-brown-medium: #907d7a;
  --text-brown-light: #d5c7c5;
  --btn-green-dark: #53714b;
  --btn-green-medium: #7d9f8c;
  --btn-green-light: #a4aaa2;
}

body {
  margin: 0;
  font-family: Georama;
  height: 100%;
  width: 100%;
  color: #4e4442;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

[data-no-select] {
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-light-green);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-green-dark);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--btn-green-dark);
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
