.column.slider {
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.slider__slide {
  height: 600px;
  transition: opacity 0.5s ease-in-out;
  transform: translateY(25vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__slide:not(.active) {
  opacity: 0;
}

.slider__slide img {
  max-width: 450px;
  height: 600px;
}

.active {
  opacity: 1;
}

@media screen and (max-width: 1600px) and (orientation: landscape) {
  .slider__slide {
    transform: translateY(15vh);
  }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
  .slider__slide {
    transform: translateY(15vh);
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .slider__slide {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .slider__slide {
    transform: translateY(0);
  }

  .slider__slide img {
    max-width: 225px;
    height: 300px;
  }
}
