/* from 1440 px */
.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2.16px;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.44px;
}

.h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.08px;
}

.body-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.72px;
}

.body-semibold-large {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-semibold-extra {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.9px;
}

.body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.72px;
}

.body-medium-large {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-regular-large {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.81px;
}

/* from 1024 to 1440 px */
@media screen and (max-width: 1440px) {
  .h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.9px;
  }

  .body-semibold-small {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.54px;
  }

  .body-semibold {
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.63px;
  }

  .body-semibold-large {
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.72px;
  }

  .body-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.63px;
  }

  .body-medium-large {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.72px;
  }

  .body-regular-large {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.72px;
  }
}

/* from 768 to 1024 px */
@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.62px;
  }

  .h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.08px;
  }

  .body-semibold-extra {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.81px;
  }

  .body-medium-large {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.63px;
  }
}

/* from 320 to 768 px */
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.26px;
  }

  .h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.9px;
  }

  .h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.81px;
  }
}
