.h1-bold-48 {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.h2-bold-36 {
  font-size: 36px;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
  letter-spacing: 1.62px;
}

.h2-semibold-36 {
  font-size: 36px;
  font-weight: 600;
  line-height: 140%; /* 50.4px */
  letter-spacing: 1.62px;
}

.h3-bold-32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  letter-spacing: 1.44px;
}

.h4-bold-28 {
  font-size: 28px;
  font-weight: 700;
  line-height: 140%; /* 39.2px */
  letter-spacing: 1.26px;
}

.h4-semibold-28 {
  font-size: 28px;
  font-weight: 600;
  line-height: 140%; /* 39.2px */
  letter-spacing: 1.26px;
}

.h5-bold-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: 1.08px;
}

.h5-semibold-24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  letter-spacing: 1.08px;
}

.body-semibold-12 {
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.54px;
}

.body-medium-12 {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.54px;
}

.body-regular-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.54px;
}

.body-semibold-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.63px;
}

.body-medium-14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.63px;
}

.body-regular-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.63px;
}

.body-semibold-16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.72px;
}

.body-medium-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.72px;
}

.body-regular-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.72px;
}

.body-semibold-18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-medium-18 {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-regular-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-semibold-20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.9px;
}

.body-medium-20 {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.9px;
}

.body-regular-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.9px;
}
