.h1-bold-48 {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.h3-bold-32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.44px;
}

.h4-semibold-28 {
  font-size: 28px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.26px;
}

.body-semibold-14 {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.63px;
}

.body-semibold-16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.72px;
}

.body-medium-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.72px;
}

.body-semibold-18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-medium-18 {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-regular-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.81px;
}

.body-semibold-20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.9px;
}
